Annotations/build/
Annotations/nbproject/private/
JAI/build/
JAI/nbproject/private/
JOGL-Win/build/
ThumbViewer/build/
TimingFramework/build/
VirtMus/build/
VirtMus/nbproject/private/
XStream/build/
XStream/nbproject/private/
batik/build/
build/
dist/
Installer/VirtMus_*.exe
colorchooser/build/
jai_java/build/
jai_linux/build/
jai_windows/build/
nbproject/private/
swingfx/build/
ThumbViewer/nbproject/private
hs_err_pid*.log

# VIM swap files
.*.swp

Installer/VirtMus-*.exe
Installer/VirtMus-*.zip

Installer/VirtMusPortable/App/VirtMus
Installer/VirtMusPortable/VirtMusPortable.exe
Installer/VirtMusPortable_*.exe

Docs/publish
Docs/sitemap.xml
Docs/urllist.txt
/ICEpdf/nbproject/private/
/ICEpdf-Wrapper/nbproject/private/